<!DOCTYPE html>
<html>
     {%with messages=get_flashed_messages()%}
        {%if messages%}
            {%for msg in messages%}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    
    {%endwith%}
    <style>
        html{
            text-align: center;
        }
        div{
            margin: 20px;
        }
        button{
            margin: 10px;
        }
        a:link, 
        a:visited, 
        a:hover, 
        a:active {
            text-decoration: none;
        }
    </style>
    <head>
        <h2>student Page</h2>
    </head>
    <body>
        <div>
        <button> <a href="{{url_for('changepassword')}}">Change Password</a></button>
        <br>
        <button><a href="{{url_for('myquestionnaires')}}">my questionnnaires</a></button>
        <button><a href="{{url_for('changeqname')}}">Change name of questionnaire</a></button>
        <button> <a href="{{ url_for('showquestionnaires')}}">Show Available questionnnaires</a></button>
        <button> <a href="{{ url_for('createq')}}">Create New questionnaire</a></button>
        <button> <a href="{{ url_for('logout') }}">Logout</a></button>
        </div>
    </body>
</html>